li{
list-style: none;
margin: 0px;
display: inline;
}

/* Divs
----------------------------------------------------------------------------------------------------*/
.canvas{
width: 100%;
height: 100%;
position: absolute;
background: #f2f2f2; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYzZjNmM2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-radial-gradient(center, ellipse cover,  #f2f2f2 0%, #c6c6c6 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#f2f2f2), color-stop(100%,#c6c6c6)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #f2f2f2 0%,#c6c6c6 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #f2f2f2 0%,#c6c6c6 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #f2f2f2 0%,#c6c6c6 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #f2f2f2 0%,#c6c6c6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#c6c6c6',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

#social-like{
position: fixed;
display: block;
margin-left: 10px;
margin-top: 143px;
}

#border-form {
background-color: white;
width: 500px;
height: 550px;
margin-right: 50px;
margin-left: auto;
position: relative;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
margin-top: 15px;
}


#form {
width: 500px;
height: 200px;
margin-left: auto;
margin-right: 350px;
}

#search {
width: 500px;
height: 270px;
margin-left: auto;
margin-right: 350px;
position: relative;
margin-top: 10px;
}

#link {
width: 600px;
height: 30px;
border-top-right-radius: 0px;
border-bottom-right-radius: 20px;
margin-right: auto;
position: relative;
background-color:#3B5998;
margin-top: 60px;
}

/* logomarcas
----------------------------------------------------------------------------------------------------*/
.querocarona {
background-image: url("../img/novo_fundo.png");
background-repeat: no-repeat;
background-size: 35%;
width: 100%;
height: 100%;
position: absolute;
margin-left: 0px;
margin-top: 0px;
/*margin-left: 80px;
margin-top: 10px;*/
}

/* formulario
----------------------------------------------------------------------------------------------------*/
.formulario {
width: 500px;
height: 100px;
margin-right: auto;
position: absolute;
margin-left: 3px;
margin-top: 37px;
padding: 2px;
}

.info_sucesso{
background: greenYellow;
}

.info_error{
background: yellow;
}

#info {
height: 35px;
position: absolute;
display: none;
font-size: 16px;
width: 500px;
}

#info_conteudo_error{
margin-top: 10px;
margin-left: 70px;
}

#info_conteudo_sucesso{
margin-top: 10px;
margin-left: 70px;
}

#info span{
position: absolute;
margin-top: 10px;
margin-left: 100px;
}

.laborigem {
color: #3B5998;
font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
font-size: 15px;
margin-top: 0px;
position: absolute;
margin-left: 10px;
}

#origem {
height: 25px;
margin-top: 0px;
width: 150px;
}

.labdestino {
color: 
#3B5998;
font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
font-size: 15px;
margin-left: 10px;
margin-top: 50px;
position: absolute;
}

#destino {
height: 25px;
margin-left: 0;
margin-top: 0;
width: 150px;
}

.labdata {
color: #3B5998;
font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
font-size: 15px;
margin-top: 0px;
position: absolute;
margin-left: 195px;
}

#data {
height: 25px;
margin-top: 0px;
width: 100px;
z-index: 100;
background-image: url("../img/calendar.png");
background-size: 15px;
background-repeat: no-repeat;
background-position: 95% 50%;
}

.labhora {
color: #3B5998;
font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
font-size: 15px;
margin-left: 195px;
margin-top: 50px;
position: absolute;
}

#hora {
height: 25px;
margin-left: 0px;
margin-top: 0px;
width: 100px;
background-image: url("../img/hora.png");
background-size: 15px;
background-repeat: no-repeat;
background-position: 95% 50%;
}


.labobs {
color: #3B5998;
font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
font-size: 15px;
margin-left: 330px;
margin-top: 0px;
position: absolute;
}

#obs {
height: 75px;
margin-left: 0px;
margin-top: 0px;
width: 150px;
}

/* Buttons by form
----------------------------------------------------------------------------------------------------*/
.btn-form {
margin-left: 130px;
margin-top: 110px;

}

#chk_ofertar {
width: 115px;
height: 35px;
border-bottom-left-radius: 10px;
border-top-left-radius: 10px;
font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
font-size: 17px;

}

#chk_solicitar {
width: 115px;
height: 35px;
border-bottom-right-radius: 10px;
border-top-right-radius: 10px;
font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
font-size: 17px;
}


/* Buttons by searchs
----------------------------------------------------------------------------------------------------*/
.btn-pesquisa{
margin-left: 0px;
margin-top: 5px;
width:500px;
height:40px;
}

#btn_minhas_viagens {
border: 0px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
margin-top: 3px;
margin-left: 0px;
width: 75px;
height: 50px;
}

#novidades_minhas_viagens{

}

.btn_minhas_viagens {
background: #F8F8FF;
background-image: url("../img/eu.gif");
background-size: 30px;
background-repeat: no-repeat;
background-position: center;
}

.btn_minhas_viagens:hover {
background: #F8F8FF;
background-image: url("../img/eu_hover.gif");
background-size: 30px;
background-repeat: no-repeat;
background-position: center;
}

.btn_minhas_viagens:active {
background: lightgray;
background-image: url("../img/eu_hover.gif");
background-size: 30px;
background-repeat: no-repeat;
background-position: center;
}

.btn_minhas_viagens_ativa {
background: lightgray;
background-image: url("../img/eu_hover.gif");
background-size: 30px;
background-repeat: no-repeat;
background-position: center;
}

#btn_amigos_viagens {
border: 0px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
margin-top: 3px;
margin-left: 10px;
width: 75px;
height: 50px;
}

.btn_amigos_viagens {
background: #F8F8FF;
background-image: url("../img/amigos.gif");
background-size: 45px;
background-repeat: no-repeat;
background-position: center;
}

.btn_amigos_viagens:hover {
background: #F8F8FF;
background-image: url("../img/amigos_hover.gif");
background-size: 45px;
background-repeat: no-repeat;
background-position: center;
}

.btn_amigos_viagens:active {
background: lightgray;
background-image: url("../img/amigos_hover.gif");
background-size: 45px;
background-repeat: no-repeat;
background-position: center;
}

.btn_amigos_viagens_ativa {
background: lightgray;
background-image: url("../img/amigos_hover.gif");
background-size: 45px;
background-repeat: no-repeat;
background-position: center;
}

#field-pesquisa {
margin-left: 32px;
margin-top: 14px;
width: 267px;
background-color: white;
background-image: url("../img/lupa_2.gif");
background-size: 20px;
background-repeat: no-repeat;
background-position: 95% 50%;
}

/* Dados
----------------------------------------------------------------------------------------------------*/
.viagem{
border-top-left-radius: 0px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
background-color: lightgray;
width: 96.2%;
height: 280px;
margin-left: 10px;
position: relative;
margin-top: 12px;
font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
font-size: 14px;
overflow-x: hidden;
}

.viagem p{
width: 475px;
height: 30px;
position: relative;
display: block;
text-decoration: none;
color: black;
padding: 5px;
margin: 0 0 -2px;
line-height: 120%;
cursor: pointer;
}

.viagem p:hover{
background-color: whitesmoke;	
}

.viagem p:active{
background-color: whitesmoke;	
}

/* Modal
----------------------------------------------------------------------------------------------------*/
.conteudo-modal{
width: 50px;
}

#modal-confirmados ul{
margin-left: -8px;
}

#modal-confirmados li{
list-style: none;
margin: 0px;
display: inline-block;
}

#modal-confirmados img{
float: left;
padding-right: 5px;
margin-top: 2px;
margin-left: 10px;
}

#modal-confirmados p{
margin-left: 8px;
width: 190px;
}

#loader-modal{
background-image: url('../img/loader.gif');
width: 38px;
height: 20px;
background-size: 30px;
background-repeat: no-repeat;
display: none;
position: absolute;
margin-top: -200px;
margin-left: 250px;
}

#display-modal{
opacity: 0.1;
filter: alpha(opacity=1);
}
/*________________________________________________________________________________*/